$color1:#48ff00;
$color2:#000;
$color3:rgb(13, 143, 143);
$color4:rgb(185, 113, 113);
$color5:rgb(69, 68, 68);

$placeholderColor: #cdcdcd;
$fontSecondary: #000;
$activeColor: #90ee9078;

$main:#7285fe;
$second:#abb6ff;
$bgC:#c8cfff;
